CONFIG_ARCH_PHYTIUM=y
CONFIG_CAN_PHYTIUM=m
CONFIG_CAN_PHYTIUM_PCI=m
CONFIG_CAN_PHYTIUM_PLATFORM=m
CONFIG_DRM_PHYTIUM=m
CONFIG_EDAC_PHYTIUM_PE220X=m
CONFIG_GPIO_PHYTIUM_PCI=m
CONFIG_GPIO_PHYTIUM_PLAT=m
CONFIG_GPIO_PHYTIUM_SGPIO=m
CONFIG_HWSPINLOCK_PHYTIUM=m
CONFIG_HW_RANDOM_PHYTIUM=m
CONFIG_I2C_PHYTIUM_PCI=m
CONFIG_I2C_PHYTIUM_PLATFORM=m
CONFIG_KEYBOARD_PHYTIUM=m
CONFIG_MFD_PHYTIUM_I2S_LSD=y
CONFIG_MFD_PHYTIUM_I2S_MMD=y
CONFIG_MMC_PHYTIUM_MCI_PCI=m
CONFIG_MMC_PHYTIUM_MCI_PLTFM=m
CONFIG_MMC_PHYTIUM_SDCI=m
CONFIG_MTD_NAND_PHYTIUM_PCI=m
CONFIG_MTD_NAND_PHYTIUM_PLAT=m
CONFIG_PHYTIUM_ADC=m
CONFIG_PHYTIUM_BT_IPMI_BMC=m
CONFIG_PHYTIUM_DDMA=m
CONFIG_PHYTIUM_I3C_MASTER=m
CONFIG_PHYTIUM_IXIC=y
CONFIG_PHYTIUM_MBOX=m
CONFIG_PHYTIUM_PMU=y
CONFIG_PWM_PHYTIUM=m
CONFIG_SENSORS_PHYTIUM=m
CONFIG_SERIAL_PHYTIUM_PCI=m
CONFIG_SND_HDA_PHYTIUM=m
CONFIG_SND_SOC_PHYTIUM_I2S=y
CONFIG_SPI_PHYTIUM_PCI=m
CONFIG_SPI_PHYTIUM_PLAT=m
CONFIG_SPI_PHYTIUM_QSPI=m
CONFIG_USB_PHYTIUM=m
CONFIG_VIDEO_PHYTIUM_JPEG=m
CONFIG_W1_MASTER_PHYTIUM=y
